[build.environment]
  NPM_FLAGS = "--version"

[build]
  command = "npx pnpm install --store=node_modules/.pnpm-store && npx pnpm build"
  ignore = "git diff --quiet $COMMIT_REF $CACHED_COMMIT_REF -- /"