---
import AppLayout from "@layouts/AppLayout.astro";
const title = "Not found";
const description = "Sorry, the page you are looking for does not exist.";
---

<AppLayout title={title} description={description}>
  <div class="flex flex-col items-center gap-6 w-full h-full">
    <p class="text-xl dark:text-white font-medium text-zinc-900 text-center">
      We couldn't find the page you were looking for ...
    </p>
    <a
      href="/"
      class="px-6 py-2 hover:bg-zinc-900 hover:text-white dark:border-white border rounded-xl dark:text-zinc-200 dark:hover:bg-white border-zinc-900 dark:hover:text-zinc-900 transition-colors"
      >Take me home
    </a>
  </div>
</AppLayout>
