---
import Layout from "~/layouts/Layout.astro";

const title = "Not found";
const description = "Sorry, the page you are looking for does not exist.";
---

<Layout title={title} description={description}>
  <section class="flex flex-col items-center justify-center px-6 py-28 lg:px-8">
    <h1
      class="mt-4 text-5xl font-semibold tracking-tight text-balance text-zinc-800 sm:text-7xl dark:text-zinc-300"
    >
      Page not found
    </h1>
    <p class="text-primary-400 mt-6 max-w-prose sm:text-lg">
      Sorry, the page you are looking for could not be found
    </p>
    <a
      href="/"
      class="mt-6 cursor-pointer rounded-full border border-transparent bg-blue-100 px-6 py-2 font-semibold text-blue-600 hover:border-blue-600 dark:bg-teal-900 dark:text-teal-400 dark:hover:border-teal-400"
      >Back to homepage</a
    >
  </section>
</Layout>
