---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/Header.astro";
import { Picture } from "astro:assets";
import SampleImage from "../assets/heros/casa-grande.webp";
---

<Layout title="Projects | Kevin Zuniga Cuellar">
  <Header title="Showcase" />
  <p class="max-w-prose leading-relaxed">
    Here are some of the projects I've worked on. I'm always looking for new
    opportunities to contribute to open source projects and build new things.
  </p>
  <ul class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2">
    <article class="rounded-xl border border-zinc-700 bg-zinc-800 px-1 pt-1">
      <Picture
        src={SampleImage}
        alt="Astro logo"
        class="block rounded-t-lg"
        formats={["webp", "avif"]}
      />
      <div class="p-3">
        <h2 class="block font-semibold text-zinc-300">Astro</h2>
        <p class="mt-2 block max-w-prose leading-relaxed">
          Frontend framework for building high-performance web apps with less
          JavaScript.
        </p>
      </div>
    </article>
  </ul>
</Layout>
