---
import AppLayout from '@layouts/AppLayout.astro';
---
<AppLayout title="Blog – Kevin Zuniga Cuellar">
  <div>
    <h1>Hello World</h1>
    <p>This is a simple example of a React component.</p>
  </div>
</AppLayout>