---
import AppLayout from '@layouts/AppLayout.astro'
import { Picture } from 'astro-imagetools/components'
---

<AppLayout>
  <section class="mb-8 sm:flex sm:items-center sm:justify-between">
    <div class="w-40 h-40 rounded-full overflow-hidden">
      <Picture
        src="/public/assets/me.jpeg"
        alt="image of the author"
        loading="eager"
        layout="fixed"
        width={320}
        height={320}
      />
    </div>
    <header class="mt-8 max-w-lg sm:my-0 sm:order-first">
      <h1 class="mb-2 text-3xl font-bold tracking-tight text-zinc-900 dark:text-white sm:text-4xl">
        Kevin Zuniga Cuellar
      </h1>
      <h2 class="mb-4 text-zinc-900 dark:text-zinc-300">
        Graduate Research Assistant at the University of Vermont
      </h2>
      <p
        class="w-full font-normal leading-7 text-zinc-600 dark:text-zinc-400 sm:max-w-sm md:max-w-xl"
      >
        Welcome to my slice of the internet! I am a graduate student in mechanical engineering. In
        my free time I enjoy making websites and experimenting with web app technologies.
      </p>
    </header>
  </section>
  <section class="space-y-4 sm:space-y-6 mb-8">
    <h2 class="dark:text-zinc-300 text-zinc-900 text-2xl font-bold tracking-tight">
      Favorite technologies
    </h2>
    <p class="w-full font-normal leading-7 text-zinc-600 dark:text-zinc-400">
      I love exploring new libraries and frameworks. Here is a list of technologies that I have been
      working with at school, side projects and open source.
    </p>
    <h3 class="dark:text-zinc-300 text-zinc-800 font-semibold text-lg">Programing languages</h3>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 font-normal leading-7 text-zinc-600 dark:text-zinc-400"
    >
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Java</li>
      <li>Python</li>
      <li>Rust</li>
    </ul>
    <h3 class="dark:text-zinc-300 text-zinc-800 font-semibold text-lg">Libraries and frameworks</h3>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 font-normal leading-7 text-zinc-600 dark:text-zinc-400"
    >
      <li>React</li>
      <li>Vue</li>
      <li>Solid</li>
      <li>Astro</li>
      <li>Nextjs</li>
    </ul>
  </section>
  <section>
    <h2 class="dark:text-zinc-300 text-zinc-900 text-2xl font-bold tracking-tight">Projects</h2>
  </section>
</AppLayout>
