---
import AppLayout from "@layouts/AppLayout.astro";
import { Picture } from "@astrojs/image/components";
import authorImage from "@images/me.jpeg";
import technologies from "@content/technologies.json";
import Skill from "@components/Skill.astro";
import { author } from "@content/socials";
---

<AppLayout>
  <section class="sm:flex sm:items-center sm:justify-between">
    <Picture
      src={authorImage}
      class="rounded-full overflow-hidden inline-flex"
      alt="Image of the author"
      aspectRatio="1:1"
      widths={[160, 320, 480]}
      loading="eager"
      sizes="160px"
      width={160}
      height={160}
    />
    <header class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-first">
      <h1 class="mb-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        {author}
      </h1>
      <h2 class="mb-4 text-zinc-300">
        Graduate Research Assistant and <a
          href="https://twitter.com/astrodotbuild"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 focus:outline-none focus:underline hover:underline"
          >@astrodotbuild</a
        > Maintainer
      </h2>
      <p
        class="w-full font-normal text-zinc-400 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
        Welcome to my slice of the internet! I am a graduate student in
        mechanical engineering at the University of Vermont. In my free time, I
        build frontend tools and experiment with new web app technologies.
      </p>
    </header>
  </section>
  <section class="mt-10 sm:mt-14">
    <h2 class="text-zinc-300 mb-4 text-2xl font-bold tracking-tight">
      Favorite technologies
    </h2>
    <p class="w-full mb-8 font-normal text-zinc-400 leading-relaxed">
      I love exploring new libraries, programing languages and frameworks. Here
      is a list of technologies that I have worked with at school, side projects
      and open source.
    </p>
    <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {technologies.map((tech) => <Skill logo={tech.logo} text={tech.text} />)}
    </ul>
  </section>
</AppLayout>
