---
import AppLayout from '@layouts/AppLayout.astro';
import ThemeSelect from '@components/ThemeSelect.tsx';
---
<AppLayout>
  <section class="mb-10 sm:flex sm:items-center sm:justify-between">
    <img src="/assets/me.jpeg" alt="image of the author" class="rounded-full aspect-square" width="160" height="160" />
    <header class="mt-6 max-w-lg sm:my-0 sm:order-first">
      <h1 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
        Kevin Zuniga Cuellar
      </h1>
    <h2 class="mb-4 text-gray-900 dark:text-gray-300">
      Graduate Research Assistant at the University of Vermont
    </h2>
    <p class="w-full font-normal leading-7 text-gray-600 dark:text-gray-400 sm:max-w-sm md:max-w-xl">
      Welcome to my slice of the internet! I am a graduate student in mechanical engineering.
      In my free time I enjoy making websites and experimenting with web app technologies.
    </p>
  </header>
</section>
<ThemeSelect client:load />
</AppLayout>