---
import AppLayout from "@layouts/AppLayout.astro";
import { Image } from "@astrojs/image/components";
import authorImage from "@images/me.jpeg";
import Projects from "@content/projects.json";
import ProjectCard from "@components/ProjectCard.astro";
import Skill from "@components/Skill.astro";
---

<AppLayout>
  <section class="mb-8 sm:mb-14 sm:flex sm:items-center sm:justify-between">
    <Image
      src={authorImage}
      alt="Image of the author"
      format="webp"
      width={320}
      height={320}
      quality={90}
      loading="eager"
      class="rounded-full w-40 overflow-hidden"
    />
    <header class="mt-8 max-w-lg sm:my-0 sm:order-first">
      <h1 class="mb-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Kevin Zuniga Cuellar
      </h1>
      <h2 class="mb-4 text-zinc-300">
        Graduate Research Assistant at the University of Vermont
      </h2>
      <p
        class="w-full font-normal leading-7 text-zinc-400 sm:max-w-sm md:max-w-xl"
      >
        Welcome to my slice of the internet! I am a graduate student in
        mechanical engineering. In my free time I enjoy making websites and
        experimenting with web app technologies.
      </p>
    </header>
  </section>
  <section class="mb-8 sm:mb-14">
    <h2 class="text-zinc-300 mb-4 text-2xl font-bold tracking-tight">
      Favorite technologies
    </h2>
    <p class="w-full mb-8 font-normal leading-7 text-zinc-400">
      I love exploring new libraries, programing languages and frameworks. Here
      is a list of technologies that I have worked with at school, side projects
      and open source.
    </p>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
      <Skill logo="vscode-icons:file-type-astro" text="Astro" />
      <Skill logo="logos:javascript" text="JavaScript" />
      <Skill logo="logos:typescript-icon" text="TypeScript" />
      <Skill logo="logos:python" text="Python" />
      <Skill logo="logos:react" text="React" />
      <Skill logo="logos:solidjs-icon" text="Solidjs" />
      <Skill logo="logos:vue" text="Vue" />
      <Skill logo="logos:nodejs-icon" text="Nodejs" />
      <Skill logo="logos:tailwindcss-icon" text="TailwindCSS" />
    </div>
  </section>
  <section>
    <h2 class="text-zinc-300 mb-4 text-2xl font-bold tracking-tight">
      Projects
    </h2>
    <p class="w-full mb-8 font-normal leading-7 text-zinc-400">
      Most of them done over the weekend, between classes or at lunch. Authored
      by me or in collaboration with other developers, colleagues and friends I
      found on the internet.
    </p>
    <div class="grid grid-cols-1 gap-4">
      {Projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </section>
</AppLayout>
