---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Project from "@components/Project.astro";
import { getCollection } from "astro:content";

const personalProjects = (await getCollection("projects"))
  .toSorted((a, b) => b.data.stargazers_count - a.data.stargazers_count)
  .filter((project) => project.data.stargazers_count > 1)
  .slice(0, 12);
---

<Layout title="Projects | Kevin Zuniga Cuellar">
  <Header title="Projects" />
  <p class="max-w-prose leading-relaxed">
    Here are some of the projects I've worked on. Some of them are open source
    and others are personal projects.
  </p>
  <ul class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">
    {personalProjects.map((projects) => <Project {...projects} />)}
  </ul>
</Layout>
