---
export interface Props {
  text: string
  color: keyof typeof colors
}
const { text, color } = Astro.props as Props
const colors = {
  blue: 'bg-blue-700 text-blue-200',
  red: 'bg-red-700 text-red-200',
  green: 'bg-green-700 text-green-200',
  indigo: 'bg-indigo-700 text-indigo-200',
}
---

<span
  class={`${colors[color]} inline-block rounded-full px-2 py-0.5 text-xs font-bold uppercase tracking-normal mt-3 sm:mt-0 transition-colors`}
>
  {text}
</span>
