---
interface Props {
  text: string;
  color: keyof typeof colors;
}
const { text, color } = Astro.props;
const colors = {
  blue: "bg-blue-700 text-blue-200",
  red: "bg-red-700 text-red-200",
  green: "bg-green-700 text-green-200",
  indigo: "bg-indigo-700 text-indigo-200",
  yellow: "bg-yellow-700 text-yellow-200",
  purple: "bg-purple-700 text-purple-200",
  pink: "bg-pink-700 text-pink-200",
};
---

<span
  class={`${colors[color]} max-w-max inline-block rounded-full px-2 py-0.5 text-xs font-bold uppercase tracking-normal sm:mt-0`}
>
  {text}
</span>
