---
import { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  text: string;
}
const { text, href, ...props } = Astro.props;
let isActive : boolean;
if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(typeof href === "string" ? href : href.href);
}
---

<a
  class:list={[
    "font-semibold text-sm py-2.5 px-3 hover:bg-zinc-700/50",
    { "text-teal-400": isActive },
    { "text-zinc-200": !isActive },
  ]}
  href={href}
  {...props}
  aria-label={`Go to ${text}`}
>
  {text}
</a>
