---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  text: string;
}
const { text, href, ...props } = Astro.props;

const targetHref = typeof href === "string" ? href : href?.href || "";
const isActive =
  href === "/"
    ? href === Astro.url.pathname
    : Astro.url.pathname.includes(targetHref);
---

<a
  class:list={[
    "block p-4 text-sm font-semibold tracking-wide",
    { "text-zinc-950 dark:text-white": isActive },
    { "text-zinc-500 dark:text-zinc-400": !isActive },
  ]}
  aria-current={isActive ? "page" : undefined}
  href={href}
  {...props}
  aria-label={`Go to ${text} page`}
>
  {text}
</a>
