---
// eslint-disable-next-line
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  text: string;
  href: string;
}
const { text, href, ...props } = Astro.props;
let isActive;
if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(href);
}
---

<a
  class:list={[
    "font-semibold text-sm py-2.5 px-3",
    { "active-text": isActive },
    { inactive: !isActive },
  ]}
  href={href}
  {...props}
  aria-label={`Go to ${text}`}
>
  {text}
</a>

<style>
  .active-text {
    @apply text-teal-400;
  }
  .inactive {
    @apply text-zinc-200;
  }
</style>
