---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  label: string;
  size?: number;
}

const { icon, label, size = 20 } = Astro.props;
---

<li class="flex items-center gap-4">
  <span
    class="w-11 h-11 grid place-content-center border-t dark:border-zinc-700 border-transparent shadow dark:shadow-none bg-white dark:bg-zinc-800 rounded-full"
    ><Icon name={icon} size={size} class="dark:text-white" />
  </span>
  <span>{label}</span>
</li>
