---
import { Icon } from 'astro-icon'

export interface Props {
  text: string
  icon: string
}
const { text, icon } = Astro.props as Props
---

<li class="flex items-center space-x-2">
  <span
    class="flex transition-colors w-10 h-10 items-center justify-center rounded-full bg-white shadow dark:border-0
  dark:border-t dark:border-zinc-700 dark:bg-zinc-800"
  >
    <Icon name={icon} class:list="h-5 w-auto" />
  </span>
  <span>{text}</span>
</li>
