---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  href: string;
  username: string;
}

const { icon, href, username } = Astro.props;
---

<li>
  <a
    class="inline-flex gap-2 items-center group dark:hover:text-zinc-200 hover:text-zinc-700"
    href={href}
    ><Icon name={icon} size={16} />{username}<Icon
      name="external-link"
      class="-ml-1 opacity-0 group-hover:opacity-100"
    /></a
  >
</li>
