---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<span
  class="absolute py-1 delay-100 border-zinc-600 duration-300 shadow-black/60 bg-zinc-700 shadow font-medium -top-[3.25rem] text-sm pointer-events-none w-auto min-w-max px-2 border-t rounded-md opacity-0 sm:group-focus:opacity-100 transition-opacity sm:group-hover:opacity-100 text-zinc-300"
>
  {text}
</span>
